
<%=form_with model: @student do |form|%>
  <div>
    <%=form.label :name%><br>
    <%=form.text_field :name %><br>
  </div>
  <br>
  <div>
    <%=form.label :address%><br>
    <%=form.text_field :address %><br>
  </div>
  <br>
  <div>
    <%=form.label :email%><br>
    <%=form.email_field :email %><br>
  </div>
 
  <br>
   <div>
    <%=form.label :avatar%><br>
    <%=form.file_field :avatar %><br>
  </div>
  <br>
  <div>
    <%=form.label :images %><br>
    <%=form.file_field :images, multiple: true %><br>
  </div>
  <br>
   <div>
   
    <%=form.submit "submit"%><br>
  </div>
<%end%>